<!DOCTYPE html>
<html>
<head>
  <title>Piri Piri - Code and Art and Illustration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
</head>
<body>

<div class="header">
  <%= link_to root_path do %>
    <%= image_tag "header.png", class: "header-img" %>
    <h1> Piri Piri </h1>
  <% end %>

  <div class="nav">
    <a href="/articles/8">About</a>
    &#10084;
    <%= link_to root_path do %>
      Archive
    <% end %>
    &#10084;
    <a href="https://lillypiri.etsy.com">Shop</a>
  </div>
</div>



<%= yield %>

</body>
</html>
